/* CSS GLOBAL SITE ------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.red-button {
    background-color: rgb(217, 0, 0);
    color: white;
}

.red-button:hover {
    background-color: rgb(91, 0, 0);
    color: white;
}

.black-button {
    background-color: rgb(0, 0, 0);
    color: white;
}

.black-button:hover {
    background-color: rgb(91, 0, 0);
    color: white;
}

h1,
h2 {
    font-weight: bold;
}

.ancre {
    margin-top: -150px;
    padding-top: 150px;
}

/* NAVBAR ------------------------------------------ */

.reseaux-header {
    color: rgb(217, 0, 0);
    font-size: 50px;
    transition: 0.5s;
    padding: 3px;
}

.reseaux-header:hover {
    color: rgb(91, 0, 0);
    transition: 0.5s;
}

#header-nav {
    border-bottom: 2px solid rgb(217, 0, 0);
}

/* TEXTE INTRO ACCUEIL ------------------------------------------ */
#accueil-canicross {
    background-image: url('../../public/assets/photos/carre/carre-canicross.jpeg');
}

#accueil-canivtt {
    background-image: url('../../public/assets/photos/carre/carre-canivtt.jpg');
}

#accueil-canimarche {
    background-image: url('../../public/assets/photos/carre/carre-canimarche.jpeg');
}

.intro-sports {
    height: 280px;
    width: 280px;
    border-radius: 100%;
    background-size: cover;
    transition: 0.4s;
    position: relative;
}

.intro-sports:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.logo-60 {
    height: 60px;
    width: 60px;
    transition: 0.4s;
}

.logo-60:hover {
    height: 60px;
    width: 60px;
    transform: scale(1.1);
    transition: 0.4s;
}

/* RUBRIQUES ------------------------------------------ */
#rubriques .card {
    transition: 0.5s;
}

#rubriques .card-text {
    height: 150px;
}

#rubriques .card:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

#rubriques a {
    text-decoration: none;
}

/* ACTUALITE ------------------------------------------ */
/* #actu .card {
    transform: scale(0.9);
    max-height: 30vh;
    max-width: 80vw;
    transition: 0.5s;
}

#actu .card-img {
    object-fit: cover;
    opacity: 0.5;
    max-height: 30vh;
    max-width: 80vw;
}

#actu .card:hover {
    transform: scale(1);
    transition: 0.5s;
} */

/* CAROUSEL PARTENAIRES ------------------------------------------ */
#partners-carousel {
    transform: scale(0.7);
}

#partners-carousel .image-container {
    overflow-x: hidden;
    width: 768px;
    max-width: 100vw;
}

#partners-carousel .image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: 0.2s;
}

#partners-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
}

/* LE CLUB ------------------------------------------ */
.illu-bureau {
    width: 200px;
    border-radius: 100%;
}

/* INFOS PRATIQUES --------------------------------------------------------------------- */
.illu-sorties {
    border-radius: 10%;
    max-width: 50vw;
    width: 200px;
}

.logo-compet {
    border-radius: 100%;
    width: 100px;
}

#nav-pill .nav-link.active {
background-color: rgb(28, 28, 28);
color: white;
}

#nav-pill .nav-link {
color: black;
background-color: rgb(215, 212, 212);
}

/* DISCIPLINES --------------------------------------------------------------------- */
.illu-disciplines {
    border-radius: 100%;
    width: 250px;
}

/* CONTACT --------------------------------------------------------------------- */
#contact button.faq:hover {
    background-color: rgb(164, 0, 0) !important;
}

/* LES PARTENAIRES -------------------------------------------------- */


/* FOOTER -------------------------------------------------- */
footer a {
    color: white;
    text-decoration: none;
}

#reseaux-footer a:hover {
    color: rgb(191, 191, 191);
}

#menu-footer a:hover {
    color: rgb(231, 0, 0);
    font-weight: bold;
}

#mentions-footer a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* MEDIA QUERIES -------------------------------------------------- */

@media screen and (max-width: 320px) {}

@media screen and (min-width: 375px) {}


@media screen and (min-width: 424px) {
    .description {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

/* VIDEO FSLC ------------------------------------------ */